@font-face {
    font-family: 'Omega Mono';
    src: url(https://cdn360.pages.dev/products/OmegaTerminal/fonts/AthenaMono.ttf);
}

@font-face {
    font-family: 'Omega Mono Bold';
    src: url(https://cdn360.pages.dev/products/OmegaTerminal/fonts/AthenaMono.ttf);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Omega Mono';
    font-size: 20px;
    background-color: #10151d;
    color: #bfc7d2;
    overflow: hidden;
}

::selection {
    background-color: #5c4a8c;
    color: #bfc7d2;
}

::-moz-selection {
    background-color: #5c4a8c;
    color: #bfc7d2;
}

.terminal {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.terminal-header {
    background-color: #10151d;
    padding: 2px;
}

.terminal-body {
    flex: 1;
    padding: 2px;
    overflow-y: auto;
}

.terminal-body hr {
    border: 0;
    border-top: 1px solid #bfc7d2;
    margin: 10px 0;
}

.terminal-body::-webkit-scrollbar {
    width: 12px;
}

.terminal-body::-webkit-scrollbar-track {
    background: #10151d;
}

.terminal-body::-webkit-scrollbar-thumb {
    background-color: #bfc7d2;
    border-radius: 10px;
    border: 3px solid #10151d;
}

.input-line {
    padding-left: 2px;
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    background-color: #10151d;
}

.prompt {
    color: #ffffff;
    padding-right: 10px;
}

.user-text {
    color: #17b877;
    padding-right: 1px;
}

.folder-text {
    color: #25a6e9;
    padding-right: 2px;
}

.normal-text {
    color: #bfc7d2;
    padding-right: 1px;
}

.input-field {
    flex: 1;
    background-color: transparent;
    border: none;
    color: #bfc7d2;
    font-family: 'Omega Mono';
    font-size: 20px;
    outline: none;
    caret-color: #bfc7d2;
}